.copyright-text {
    font-size: 15px;
}

.form-container {
    margin-left: auto; 
    margin-right: auto;
    padding: 0 !important;
}

.filter-form {
    width: 100%;
    text-align: left;    
    border: 1px solid #b3aca7;
}
.filter-form .form-title > h2{
    text-align: center; 
    color: #555;
    text-transform: uppercase;
    font-size: 1.2rem;
    letter-spacing: 5px;
}
.filter-form .underline {
    border-bottom: solid 2px #474544;
    margin: 0.2rem auto;
    margin-bottom: 10px;
    width: 80px;    
}
.subject {
    width: 80%;
    margin: 0 auto;
    padding-top:15px !important;
    padding-bottom: 15px !important;
}
.subject label {
    margin-bottom: 5px;
    font-size: 0.9rem;
    letter-spacing: 1px;
}

.filter-form input[type='text'],.filter-form [type='email'], .filter-form select, textarea {
    background: none;
    border: none;
    border-bottom: solid 1px #b3aca7;
    color: #666;
    font-size: 1.000em;
    font-weight: 400;
    letter-spacing: 3px;    
    width: 100%;        
    padding: 0.25rem 0 0.5em 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}
.filter-form select {
    position: relative;
    background: url('https://cdn4.iconfinder.com/data/icons/ionicons/512/icon-ios7-arrow-down-32.png') no-repeat right;
    outline: none;
    -moz-appearance: none;
    -webkit-appearance: none;          
}   

.filter-form select option {
    font-weight: normal;
    display: block;
    white-space: pre;
    min-height: 1.2em;
    letter-spacing: 3px;
    padding: 0px 2px 1px;
}

.filter-form select::-ms-expand {
    /*    display: none;*/
}

.filter-form * {  
    font-size: 17px;
}

.questions p {        
    margin: 0 0 1px 0;
    color: #666;    
    font-weight: bold;    
}

.questions > li{
    display: list-item;
    list-style-type: none; 
    margin-top: 5px; 
    margin-bottom: 5px;
}
.questions > li > .question-options {
    display: inline-block;
    padding: 10px 15px;    
}

#result {
    padding-top: 30px; 
    padding-bottom: 30px;
}

.result-title {
    margin-top:5px;
    margin-bottom:5px;
    padding-top: 10px;
    padding-bottom: 10px;
    background: transparent;
    color: #555;
    font-size: 1.2rem;
}

.center-in{
    margin-left: auto;
    margin-right: auto;    
}

.movement{
    text-align: center;
}

.outline-button {
    background: none;
    border: solid 2px #474544;
    color: #474544;
    cursor: pointer;
    display: inline-block;
    font-family: 'Helvetica', Arial, sans-serif;
    font-size: 0.875em;
    font-weight: bold;
    outline: none;
    padding: 20px 35px;
    text-transform: uppercase;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}
.outline-button:hover{
    background: #474544;
    color: #F2F3EB;
}

.outline-button:focus{    
}

.paging {
    width: 100%;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.paging a {    
    margin: 2px;
    padding: 10px;
    text-decoration: none;
    color: black;
    display: inline-block;
}
.paging a:hover {
    background: #474544;   
    color: white; 
}

.paging a.active {
    background: #474544;
    color: white; 
}


.question-options > input[type='radio']:checked{

}

.question-options > input[type='radio'] {

}


hr.line-break {
    width: 60px;
    margin: 0px auto;
    margin-bottom: 20px;
    height: 3px;
    background: #f06292;
    border: none;
}

.empty-message {
    width: 100%;
    text-align: center;
    font-size: 1.5rem;   
    padding-top: 200px;
}

