.underline {
        
}

.wrap-collabsible {
    padding: 0 !important;
    margin-bottom: 1.2rem 0;
}


input[type='checkbox'] {
    display: none;
}
.lbl-toggle {
    display: block;
    font-weight: bold;    
    font-size: 1rem;    
    text-align: center;
    padding: 1rem;
/*    color: ;*/
    background: #eeeeee;
    cursor: pointer;
    border-radius: 7px;
    transition: all 0.25s ease-out;
}

.lbl-toggle:hover {
    color: #7C5A0B;
}

.lbl-toggle::before {
    content: ' ';
    display: inline-block;

    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-left: 5px solid currentColor;

    vertical-align: middle;
    margin-right: .7rem;
    transform: translateY(-2px);

    transition: transform .2s ease-out;
}

.collapsible-content .content-inner {
/*    background: rgba(250, 224, 66, .2);
    border-bottom: 1px solid rgba(250, 224, 66, .45);
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
    padding: .5rem 1rem;*/
}

.collapsible-content .content-inner ul li {
    border-bottom: 1px solid #eee;
}

.collapsible-content {
    padding: 0 !important;
    max-height: 0px;
    overflow: hidden;
    transition: max-height .25s ease-in-out;
}   

.toggle:checked + .lbl-toggle + .collapsible-content {
    max-height: 350px;
}

.toggle:checked + .lbl-toggle::before {
    transform: rotate(90deg) translateX(-3px);
}

.toggle:checked + .lbl-toggle {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.subnav {        
    width: 100%;   
    text-align: center;       
}

.subnav > .subnav-item {
    font-size: 1.2rem;        
    display: inline-block;
    padding: 10px;
    margin: 0 5px;
    border: 1px solid #555;
    border-radius: 5px;
    background-color: #555;
}

.subnav > .subnav-item:hover {        
    background: #222;       
}
.subnav > .subnav-item:hover > a{            
    /*    color: #555;*/
}

.subnav > li.active {    
    background: #222;

}
.subnav > li.active > a{
    /*    color: #555; */
}


.subnav > .subnav-item > a{    
    color: #eee;        
    text-decoration: none;
}

.copyright-text {
    font-size: 15px;
}

.line {     
    margin-left: 15px; 

    margin-right: 15px;
}

#main {
    padding-left: 30px;
    padding-right: 30px;
}
.title {
    text-align: center; 
    font-size: 1.5rem;
    margin-top: 50px; 
    margin-bottom: 20px;
    text-transform: uppercase;
}

.table {
    width: 100%;
    border: 1px solid #EEEEEE;    
}

.table-header {
    display: flex;
    width: 100%;
    background: #f5104d;
    padding: 18px 0;
}
.header-row {
    display: flex;
    width: 100%; 
}
/*.table-row:hover {
    background: #fafafa;
}
.table-row:hover *{
    border-color: #fafafa;
}*/

.table-row {
    display: flex;
    width: 100%;
    padding: 18px 0;
    border-bottom: 1px solid #EEEEEE;
}
.table-row:nth-of-type(odd) {
    /*    background:white;*/
}
.row .table-data {
    padding: 0 2% !important;    
}
.table-data {
    padding: 0 !important;
}

.table-data, .header__item {
    flex: 1 1 20%;
    text-align: left;
}

.table-data img {
    width: 80%;
    height: auto;    
    overflow: hidden;    
}

.header__item p{
    text-transform: uppercase;
    font-weight: bold;    
    padding: 0 10%;
    color: white;
}

.table .attr-name {
    padding: 5px; 
    margin: 0;
}
.table .attr-content {
    padding: 5px; 
    margin: 0;
}
